header{
    padding: 20px;
    height: 120px;
    background-color:springgreen;
}
.arara{
    width: 20%;
    float: right;
}
#logo{
    width: 50px;
}

body,main,footer,html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.button{
    color:white;
    text-decoration: none;
}
.mapa{
    text-align: center;
}
h1,h4{
    text-align: center;
}
h6{
    font-style:oblique;
}